[submodule "themes/next"]
	path = themes/next
	url = git@github.com:Ceplavia/hexo-theme-next
[submodule "themes/hexo-theme-next"]
	path = themes/hexo-theme-next
	url = https://github.com/Ceplavia/hexo-theme-next
